In [3]:
import pandas as pd
a={'a':1,'b':2,'c':3}
b={'a':4,'b':4,'e':4}
c={'first':a,'second':b}
pd.DataFrame(c)

   first  second
a    1.0     4.0
b    2.0     4.0
c    3.0     NaN
e    NaN     4.0

In [8]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([6,7,8,9,10])
c={'first':a,'second':b}
pd.DataFrame(c)

                                                   0
0    0    1
1    2
2    3
3    4
4    5
dtype: int64
1  0     6
1     7
2     8
3     9
4    10
dtype:...